*{
  margin: 0;
  padding: 0;
}

.content{
  width: 100%;
  height: 1741.5px;
  background: #fff;
  background-size: cover;
  justify-content: center;
}

.imagenLogoCarga{
  width: 312px;
  height: 312px;
  position: absolute;
  display: flex;
  right: 325px;
  top: 700px;
  display: inline-block;
  text-align: center;

}

.imagenLogoCarga img{
  width: 100%;
  height: 100%;

}
  .imagenLogoCarga {
  	display: inline-block;

  	animation: latidos 2.2s infinite;
  	transform-origin: center;
  }
  @keyframes latidos {
      from { transform: none; }
      50% { transform: scale(1.4); }
      to { transform: none; }
  }
