@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?60887839');
  src: url('../font/fontello.eot?60887839#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?60887839') format('woff2'),
       url('../font/fontello.woff?60887839') format('woff'),
       url('../font/fontello.ttf?60887839') format('truetype'),
       url('../font/fontello.svg?60887839#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?60887839#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-cora:before { content: '\e801'; } /* '' */
.icon-info-outline:before { content: '\e802'; } /* '' */
.icon-camera-outline:before { content: '\e803'; } /* '' */
.icon-compass:before { content: '\e804'; } /* '' */
.icon-picture:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-user-add:before { content: '\e809'; } /* '' */
.icon-at:before { content: '\e80a'; } /* '' */
.icon-key:before { content: '\e80b'; } /* '' */
.icon-lock:before { content: '\e80c'; } /* '' */
.icon-chat-alt:before { content: '\e80d'; } /* '' */
.icon-cc-by:before { content: '\e80e'; } /* '' */
.icon-gauge:before { content: '\e80f'; } /* '' */
.icon-cancel-outline:before { content: '\e810'; } /* '' */
.icon-cancel-1:before { content: '\e811'; } /* '' */
.icon-users:before { content: '\e812'; } /* '' */
.icon-users-outline:before { content: '\e813'; } /* '' */
.icon-ok:before { content: '\e814'; } /* '' */
.icon-reply:before { content: '\e815'; } /* '' */
.icon-forward:before { content: '\e816'; } /* '' */
.icon-left-open-big:before { content: '\e817'; } /* '' */
.icon-left:before { content: '\e818'; } /* '' */
.icon-floppy:before { content: '\e819'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-chat:before { content: '\f0e6'; } /* '' */
.icon-distancia:before { content: '\f11d'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-transgender:before { content: '\f224'; } /* '' */
.icon-estado:before { content: '\f2bc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-me:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */