*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'title';
  src: url('../font/Cabin-Bold.ttf');
}
@font-face {
  font-family: 'text';
  src: url('../font/Cabin-Regular.ttf');
}
@font-face {
  font-family: 'names';
  src: url('../font/Roboto-Light.ttf');
}
body{
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row  wrap;
  position: fixed;
}
header{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 10%;
  background-color: red;
}
header nav{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  background-color: #f3f4f8;
}
nav div.nav-profile{
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /*padding-left:50px;*/
  background-color: #f3f4f8 ;


}
nav div.nav-profile h1{
  font-size: 80px;
  color: #2980b9;
}
nav div.nav-logo{
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;


}
nav div.nav-logo img{
  width:150px;
  height:150px;
}

nav div.nav-messege{
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /*padding-left:50px;*/
  background-color: #f3f4f8 ;


}
nav div.nav-messege h1{
  font-size: 80px;
  color: #95a5a6;
}

div.perfil-persona{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: green;
}



div.opciones-menu-perfil{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 2100px;
  background-color: white;
  position: fixed;
  top: 180px;
  left:0px;
  z-index: 97;
}
/*desde aca*/


div.superiorTo{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 15%;
  background-color: #222c34;
}
div.inferiorTo{
  display: flex;

  flex-flow: column;
  width: 100%;
  height: 85%;
  background-color: #ffffff;
}
div.inferior-bloque-to{
  /*display: flex;*/
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: white;
}
div.title-bloque-to{
  background-color: #e1e5ee;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
  justify-content: flex-start;
  align-items: center;
}
div.infoPersonal{
  display: flex;
  flex-flow: row;
  width: 75%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
div.icon-infoPersonal{
  display: flex;
  flex-flow: row;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

div.icon-infoPersonal h1{
  font-size: 60px;
  color: #2980b9;
}

div.icon-infoPersonal2{
  display: flex;
  flex-flow: row;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

div.icon-infoPersonal2 h1{
  font-size: 60px;
  color: #2980b9;
}
div.title-bloque-to h2{
font-size: 50px;
color: black;
margin-left: 60px;
font-family: 'title';
color: #2980b9;
}

div.about-bloque-to{
  background-color: #f3f4f8;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 40%;
}
div.about-icon-bloque-to{
  display: flex;
  flex-flow: row;
  width: 20%;
  height: 100%;
  justify-content: center;
}
div.about-info-bloque-to{
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;
}
div.title-info-about-to{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 30%;
  align-items: center;
}
div.title-info-about-to h3{
  font-size: 35px;
  font-family: 'title';
  color: #2980b9;
}
div.text-info-about-to{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 70%;
}
div.text-info-about-to p{
  font-size: 30px;
  font-family: 'text';
  margin-right:10%;
  color: #6a7077;
}
div.location-bloque{
  background-color: #ffffff;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
}
div.location-icon{
  display: flex;
  flex-flow: row;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
div.location-information{
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;
}
div.information-title{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
  align-items: center;
}
div.information-title h3{
  font-size: 35px;
  font-family: 'title';
  color: #2980b9;
}
div.information-text{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
}
div.information-text p {
  font-size: 30px;
  font-family: 'text';
  margin-right:10%;
  color: #6a7077;
}
div.estado-bloque{
  background-color: #f3f4f8;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
}

div.estado-icon{
  display: flex;
  flex-flow: row;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
div.estado-information{
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;
}
div.estado-title-information{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
  align-items: center;
}
div.estado-title-information h3{
  font-size: 35px;
  font-family: 'title';
  color: #2980b9;
}
div.estado-text-information{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
}
div.estado-text-information p {
  font-size: 30px;
  font-family: 'text';
  margin-right:10%;
  color: #6a7077;
}
div.about-icon-bloque-to h1{
  margin-top: 15%;
  font-size: 70px;
  color: #6a7077;
}
div.location-icon h1{
  /*margin-top: 15%;*/
  font-size: 70px;
  color: #6a7077;
}
div.estado-icon h1{
  /*margin-top: 15%;*/
  font-size: 70px;
  color: #6a7077;
}


div.inferior-fotos{
  display: none;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: #ffff;
}
div.title-inferior-fotos{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
  background-color: #e1e5ee;
  justify-content: flex-start;
  align-items: center;
  }

div.title-inferior-fotos h2{
font-size: 50px;
margin-left: 60px;
font-family: 'title';
color: #9b59b6;
}
div.bloque2-fotos{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 80%;
  background-color: #f3f4f8;

}
div.img-principal-fotos{
  width: 70%;
  height: 100%;
  display: flex;
  flex-flow: row;
  margin-right: 10px;
}
div.img-principal-fotos img{
  width: 100%;
  height: 100%;
}
div.img-secundarias-fotos{
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: column;


}
div.bloque-img-fotos{/*contiene a todas las img*/
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row;
  margin-bottom: 10px;


}
div#sub-bloque2{
  margin-bottom:0px;
}
div.bloque-img-fotos img{
  width: 100%;
  height: 100%;
}

.modal{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
}
.modal img{
  width: 80%;
  height: 50%;
  position: absolute;
  z-index: 98;
  border-radius: 20px 20px 0 0;
}
.modal div.modal_boton{
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 45px;
  line-height: 50px;
  font-family: 'names';
  font-weight: bold;
  text-align: center;
  position: absolute;
  /*background-color: red;*/
  border-radius: 50%;
  right: 25px;
  top: 25px;
  z-index: 99;
}




div.bloque-perfil{
  display: flex;
  flex-flow: row;
  width: 33.333%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
div.bloque-perfil h1{
  color: white;
  font-size: 80px;

}



.imagen-perfil img{

    margin-top: 0px;

    height: 300px;
    width:  300px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    bottom: 50px;
    justify-content: center;
    text-align: center;

}

div.nombre-perfil{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 19%;

  justify-content: center;
  text-align: center;
}

 div.nombre-perfil h3{

  align-content: center;
  font-size: 60px;
  font-family: 'names';
  color: #ffffff;

}

div.lateral-perfil{
  display: flex;

  flex-flow: column;
  width: 100%;
  height: 75%;
  background-color: #ffffff;
}

div.perfil-persona-to{

  display: flex;
  flex-flow: row;
  width: 100%;
  height: 800px;
  background-color: #f3f4f8;
  position: fixed;
  top: 1800px;
  left:0px;
  z-index: 99;



}

div.perfil-persona-to form{
  padding-top: 70px;
  padding-left: 60px;
  width: 120%;
  font-size: 50px;


}

div.perfil-persona-to p{
  font-family: 'title';
  color: #2980b9;
  font-size: 40px;


}

input[type="text"] {


    width: 100%;
    display: block;
    margin-bottom: 10px;
    background-color: #e1e5ee;

    border-radius: 20px;

}

div.button-guardar{
width: 100%;
justify-content: center;
text-align: center;

}

.btnGuardar{
  width: 100%;
  margin: 0 10px 0 10px;
}

.button {
    background-color: #2980b9; /* Green */
    border-radius: 20px;
    font-family: 'text';
    width: 110%;
    color: white;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;



}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



div.inferior-configura{
  display: none;
  flex-flow: column;
  width: 100%;
  height: 990px;
  background-color: #f3f4f8;
  position: fixed;
  top: 755px;
  left:0px;
  z-index: 96;
}


/*div.infoPersonal{
  display: flex;
  flex-flow: row;
  width: 75%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}*/

div.title-inferior-congigura{
  background-color: #e1e5ee;
}
div.title-inferior-congigura h1{
  padding-left: 60px;
  padding-top: 70px;
  padding-bottom: 60px;
  font-size: 50px;
  justify-content: center;
  color: #9b59b6;
  font-family: 'title';
}

div.configura-jSlider1 h2{
  color: #2980b9;
  font-size: 35px;
  font-family: 'names';
}
div.configura-jSlider2 h2{
  color: ##2980b9;
  font-size: 35px;
  font-family: 'names';
}

.icon-floppy:active{
  color: #9B59B6;
}

div.configura-checkBox h2{
  color: ##2980b9;
  font-size: 35px;
  font-family: 'names';
}




.slider1{

	height: 60px;
	position: relative;
	width: 100%;

}

.slider1 > .emptyprogress1{
	background: #97d9fb;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 100%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;

}

.slider1 > .progress1{
	background: #9b59b6;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 0%;


	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider1 > .indicator1{
	background: url('../img/pointer.png') no-repeat;
	/*border: 1px solid red;*/
	cursor: move;
	height: 100%;
	margin: 8px auto auto -30px;
	left: 0%;
	position: absolute;
	width:60px;

}

.info1, .info1> label > input{
	font-family: 'Julius Sans One', sans-serif;
	color: grey;
}

.info1{
	font-size: 32px;
	font-weight: bold;
	margin-top: 30px;
	width: 100%;

  display: flex;
  flex-flow: row;



}

.info1> label > input{
	border: none;
	font-size: 20px;
	width: 20px;
}

.configura-jSlider1{
  background-color: white;
  padding-right: 60px;
  padding-top: 20px;
}

.slider2{

	height: 60px;
	position: relative;
	width: 100%;
}

.slider2 > .emptyprogress2{
	background: #97d9fb;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 100%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider2 > .progress2{
	background: #9b59b6;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 0%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider2 > .indicator2{
	background: url('../img/pointer.png') no-repeat;
	/*border: 1px solid red;*/
	cursor: move;
	height: 100%;
	margin: 8px auto auto -30px;
	left: 0%;
	position: absolute;
	width:60px;
}

.info2, .info2> label > input{
	font-family: 'Julius Sans One', sans-serif;
	color: #2980b9;
}

.info2{
	font-size: 30px;
	font-weight: bold;
	margin-top: 30px;
  width: 100%;

  display: flex;
  flex-flow: row;
}

.info2> label > input{
	border: none;
	font-size: 20px;
	width: 20px;
}

.configura-jSlider2{
  padding-right: 60px;
  padding-top: 5px;

}



.configura-checkBox{
  padding-right: 60px;
  padding-top: 20px;
}

.infoCheck{
	font-size: 32px;
	font-weight: bold;
	margin-top: 30px;
  color: #2980b9;
  width: 100%;
  display: flex;
  flex-flow: row;
}

div.contenido-checks{
  padding-top: 20px;
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;

}



input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #2980b9;
    font-family:'names';
    font-size:50px;
    padding: 60px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:35px;
    height:35px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color:#2980b9;
}

input[type="radio"]:checked + label span{
     background-color: #9b59b6;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

div.icon-info1{
  color: ##6a7077;
  font-size: 35px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 20%;
  padding-left: 70px;
  padding-right: 80px;
  padding-top: 50px;
}

div.icon-nombre{
  display: flex;
  flex-flow: row;
  padding-right: 20px;
  padding-top: 40px;
  font-size: 30px;
  height: 100%;
  justify-content: center;
  color: #6a7077;
}

div.nombre-input-input{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

div.nombre-input{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 40%;
}

div.icon-sobre-me{
  display: flex;
  flex-flow: row;
  padding-right: 20px;
  padding-top: 40px;
  font-size: 30px;
  height: 100%;
  justify-content: center;
  color: #6a7077;
}

div.sobre-me-input-input{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

div.sobre-me-input{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 40%;
}

div.icon-estadoP{
  display: flex;
  flex-flow: row;
  padding-right: 20px;
  padding-top: 40px;
  font-size: 30px;
  height: 100%;
  justify-content: center;
  color: #6a7077;
}

div.estado-input-input{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

div.estado-input{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 40%;
}

div.SliderYtitle1{

   display: flex;
   flex-flow: column;
   width: 80%;
   height: 100%;

}

div.SliderYtitle2{

   display: flex;
   flex-flow: column;
   width: 80%;
   height: 100%;

}

div.icon-info2{
  color: #6a7077;
  font-size: 30px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 20%;
  padding-left: 60px;
  padding-right: 80px;
  padding-top: 50px;
}

div.check{
  color: #6a7077;
  font-size: 30px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 20%;
  padding-left: 60px;
  padding-right: 80px;
  padding-top: 50px;

}

div.icon-check{
color: #6a7077;
font-size: 35px;
display: flex;
flex-flow: row;
justify-content: center;
width: 20%;
padding-left: 60px;
padding-right: 80px;
padding-top: 50px;
}

div.input1{
  width: 50%;
}

div.input2{
  width: 50%;
}

div.configura-jSlider1{
background-color: #f3f4f8;
padding-bottom: 50px;

}

div.configura-jSlider2{
background-color: #ffffff;
padding-bottom: 50px;
}

div.configura-checkBox{
  background-color: #f3f4f8;
}

div.foto-perfil{

    width: 100%;
    height: 34%;
    left: 0px;
    z-index: 96;
    background-image: url(../recursos/imagenes/efecto-blur1.jpg);
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    overflow: hidden;
}


div.contenido-perfil{

  width: 100%;
  justify-content: center;
  text-align: center;
}

div.contenidos-input{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}









div#infometo{
  background-color: #2980b9;
}
div.bloque h1:hover{
  color: white;
  transition: 0.5s ease;
  font-size: 100px;
}
div#albumto{
  background-color: #222c34;
}
div#liketo{
  background-color: #222c34;
}

.convoyer{
  display: flex;
  flex-flow: row nowrap;
}

.elements{
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
}
.element{
  margin: 0 5px;
}
.element img{
  width: 975px;
  height: 900px;
}


/**/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'title';
  src: url('../font/Cabin-Bold.ttf');
}
@font-face {
  font-family: 'text';
  src: url('../font/Cabin-Regular.ttf');
}
@font-face {
  font-family: 'names';
  src: url('../font/Roboto-Light.ttf');
}
body{
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row  wrap;
  position: fixed;
}
header{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 10%;
  background-color: red;
}
header nav{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  background-color: #f3f4f8;
}
nav div.nav-profile{
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /*padding-left:50px;*/
  background-color: #f3f4f8 ;


}
nav div.nav-profile h1{
  font-size: 80px;
  color: #2980b9;
}
nav div.nav-logo{
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;


}
nav div.nav-logo img{
  width:150px;
  height:150px;
}

nav div.nav-messege{
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  /*padding-left:50px;*/
  background-color: #f3f4f8 ;


}
nav div.nav-messege h1{
  font-size: 80px;
  color: #9b59b6;
}

div.perfil-persona{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: green;
}



div.opciones-menu-perfil{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 2100px;
  background-color: white;
  position: fixed;
  top: 180px;
  left:0px;
  z-index: 97;
}
/*desde aca*/


div.superiorTo{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 15%;
  background-color: #222c34;
}
div.inferiorTo{
  display: flex;

  flex-flow: column;
  width: 100%;
  height: 85%;
  background-color: #ffffff;
}
div.inferior-bloque-to{
  /*display: flex;*/
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: white;
}
div.title-bloque-to{
  background-color: #e1e5ee;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
  justify-content: flex-start;
  align-items: center;
}
div.infoPersonal{
  display: flex;
  flex-flow: row;
  width: 75%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
div.icon-infoPersonal{
  display: flex;
  flex-flow: row;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

div.icon-infoPersonal h1{
  font-size: 60px;
  color: #2980b9;
}

div.icon-infoPersonal2{
  display: flex;
  flex-flow: row;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

div.icon-infoPersonal2 h1{
  font-size: 60px;
  color: #2980b9;
}
div.title-bloque-to h2{
font-size: 50px;
color: black;
margin-left: 60px;
font-family: 'title';
color: #2980b9;
}

div.about-bloque-to{
  background-color: #f3f4f8;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 40%;
}
div.about-icon-bloque-to{
  display: flex;
  flex-flow: row;
  width: 20%;
  height: 100%;
  justify-content: center;
}
div.about-info-bloque-to{
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;
}
div.title-info-about-to{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 30%;
  align-items: center;
}
div.title-info-about-to h3{
  font-size: 35px;
  font-family: 'title';
  color: #2980b9;
}
div.text-info-about-to{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 70%;
}
div.text-info-about-to p{
  font-size: 30px;
  font-family: 'text';
  margin-right:10%;
  color: #6a7077;
}
div.location-bloque{
  background-color: #ffffff;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
}
div.location-icon{
  display: flex;
  flex-flow: row;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
div.location-information{
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;
}
div.information-title{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
  align-items: center;
}
div.information-title h3{
  font-size: 35px;
  font-family: 'title';
  color: #2980b9;
}
div.information-text{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
}
div.information-text p {
  font-size: 30px;
  font-family: 'text';
  margin-right:10%;
  color: #6a7077;
}
div.estado-bloque{
  background-color: #f3f4f8;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
}

div.estado-icon{
  display: flex;
  flex-flow: row;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
div.estado-information{
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;
}
div.estado-title-information{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
  align-items: center;
}
div.estado-title-information h3{
  font-size: 35px;
  font-family: 'title';
  color: #2980b9;
}
div.estado-text-information{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 50%;
}
div.estado-text-information p {
  font-size: 30px;
  font-family: 'text';
  margin-right:10%;
  color: #6a7077;
}
div.about-icon-bloque-to h1{
  margin-top: 15%;
  font-size: 70px;
  color: #6a7077;
}
div.location-icon h1{
  /*margin-top: 15%;*/
  font-size: 70px;
  color: #6a7077;
}
div.estado-icon h1{
  /*margin-top: 15%;*/
  font-size: 70px;
  color: #6a7077;
}


div.inferior-fotos{
  display: none;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: #ffff;
}
div.title-inferior-fotos{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
  background-color: #e1e5ee;
  justify-content: flex-start;
  align-items: center;
  }

div.title-inferior-fotos h2{
font-size: 50px;
margin-left: 60px;
font-family: 'title';
color: #9b59b6;
}
div.bloque2-fotos{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 80%;
  background-color: #f3f4f8;

}
div.img-principal-fotos{
  width: 70%;
  height: 100%;
  display: flex;
  flex-flow: row;
  margin-right: 10px;
}
div.img-principal-fotos img{
  width: 100%;
  height: 100%;
}
div.img-secundarias-fotos{
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: column;


}
div.bloque-img-fotos{/*contiene a todas las img*/
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row;
  margin-bottom: 10px;


}
div#sub-bloque2{
  margin-bottom:0px;
}
div.bloque-img-fotos img{
  width: 100%;
  height: 100%;
}

.modal{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
}
.modal img{
  width: 80%;
  position: absolute;
  z-index: 98;
}
.modal div.modal_boton{
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 45px;
  line-height: 50px;
  font-family: 'names';
  font-weight: bold;
  text-align: center;
  position: absolute;
  /*background-color: red;*/
  border-radius: 50%;
  right: 25px;
  top: 25px;
  z-index: 99;
}




div.bloque-perfil{
  display: flex;
  flex-flow: row;
  width: 33.333%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
div.bloque-perfil h1{
  color: white;
  font-size: 80px;

}
.imagen-perfil{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.circular{
  margin-top: 0px;

  height: 300px;
  width:  300px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  bottom: 50px;
  justify-content: center;
  text-align: center;
  background-image: url(../img/undife.jpg);
  background-size: cover;
}

.imagen-perfil img{

    margin-top: 0px;

    height: 300px;
    width:  300px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    bottom: 50px;
    justify-content: center;
    text-align: center;

}

div.nombre-perfil{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 19%;

  justify-content: center;
  text-align: center;
}

 div.nombre-perfil h3{

  align-content: center;
  font-size: 60px;
  font-family: 'names';
  color: #ffffff;

}

div.lateral-perfil{
  display: flex;

  flex-flow: column;
  width: 100%;
  height: 75%;
  background-color: #ffffff;
}

div.perfil-persona-to{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 800px;
  background-color: #f3f4f8;
  position: fixed;
  top: 1800px;
  left:0px;
  z-index: 99;
}

div.perfil-persona-to form{
  padding-top: 70px;
  padding-left: 60px;
  width: 120%;
  font-size: 50px;

}

div.perfil-persona-to p{
  font-family: 'title';
  color: #2980b9;
  font-size: 40px;
}

input[type="text"] {


    width: 100%;
    display: block;
    margin-bottom: 10px;
    background-color: #e1e5ee;

    border-radius: 20px;

}

div.button-guardar{
width: 100%;
justify-content: center;
text-align: center;

}

.btnGuardar{
  width: 100%;
  margin: 0 10px 0 10px;
}

.button {
    background-color: #2980b9; /* Green */
    border-radius: 20px;
    font-family: 'text';
    width: 110%;
    color: white;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;



}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



div.inferior-configura{
  display: none;
  flex-flow: column;
  width: 100%;
  height: 990px;
  background-color: #f3f4f8;
  position: fixed;
  top: 755px;
  left:0px;
  z-index: 96;
}


/*div.infoPersonal{
  display: flex;
  flex-flow: row;
  width: 75%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}*/

div.title-inferior-congigura{
  background-color: #e1e5ee;
}
div.title-inferior-congigura h1{
  padding-left: 60px;
  padding-top: 70px;
  padding-bottom: 60px;
  font-size: 50px;
  justify-content: center;
  color: #9b59b6;
  font-family: 'title';
}

div.configura-jSlider1 h2{
  color: #2980b9;
  font-size: 35px;
  font-family: 'names';
}
div.configura-jSlider2 h2{
  color: ##2980b9;
  font-size: 35px;
  font-family: 'names';
}

.icon-floppy:active{
  color: #9B59B6;
}

div.configura-checkBox h2{
  color: ##2980b9;
  font-size: 35px;
  font-family: 'names';
}




.slider1{

	height: 60px;
	position: relative;
	width: 100%;

}

.slider1 > .emptyprogress1{
	background: #97d9fb;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 100%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;

}

.slider1 > .progress1{
	background: #9b59b6;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 0%;


	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider1 > .indicator1{
	background: url('../img/pointer.png') no-repeat;
	/*border: 1px solid red;*/
	cursor: move;
	height: 100%;
	margin: 8px auto auto -30px;
	left: 0%;
	position: absolute;
	width:60px;

}

.info1, .info1> label > input{
	font-family: 'Julius Sans One', sans-serif;
	color: grey;
}

.info1{
	font-size: 32px;
	font-weight: bold;
	margin-top: 30px;
	width: 100%;

  display: flex;
  flex-flow: row;



}

.info1> label > input{
	border: none;
	font-size: 20px;
	width: 20px;
}

.configura-jSlider1{
  background-color: white;
  padding-right: 60px;
  padding-top: 20px;
}

.slider2{

	height: 60px;
	position: relative;
	width: 100%;
}

.slider2 > .emptyprogress2{
	background: #97d9fb;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 100%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider2 > .progress2{
	background: #9b59b6;
	border: 3px solid white;
	cursor: pointer;
	border-radius: 10px;
	height: 40%;
	top:25%;
	position: absolute;
	width: 0%;

	-webkit-box-shadow: 1px 1px 3px 0px #ccc;
	box-shadow: 1px 1px 3px 0px #ccc;
}

.slider2 > .indicator2{
	background: url('../img/pointer.png') no-repeat;
	/*border: 1px solid red;*/
	cursor: move;
	height: 100%;
	margin: 8px auto auto -30px;
	left: 0%;
	position: absolute;
	width:60px;
}

.info2, .info2> label > input{
	font-family: 'Julius Sans One', sans-serif;
	color: #2980b9;
}

.info2{
	font-size: 30px;
	font-weight: bold;
	margin-top: 30px;
  width: 100%;

  display: flex;
  flex-flow: row;
}

.info2> label > input{
	border: none;
	font-size: 20px;
	width: 20px;
}

.configura-jSlider2{
  padding-right: 60px;
  padding-top: 5px;

}



.configura-checkBox{
  padding-right: 60px;
  padding-top: 20px;
}

.infoCheck{

	font-size: 32px;
	font-weight: bold;
	margin-top: 30px;
  color: #2980b9;
  width: 100%;
  display: flex;
  flex-flow: row;
}

div.contenido-checks{
  padding-top: 20px;
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;

}



input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #2980b9;
    font-family:'names';
    font-size:50px;
    padding: 60px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:35px;
    height:35px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color:#2980b9;
}

input[type="radio"]:checked + label span{
     background-color: #9b59b6;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

div.icon-info1{
  color: ##6a7077;
  font-size: 35px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 20%;
  padding-left: 70px;
  padding-right: 80px;
  padding-top: 50px;
}

div.icon-nombre{
  display: flex;
  flex-flow: row;
  padding-right: 20px;
  padding-top: 40px;
  font-size: 30px;
  height: 100%;
  justify-content: center;
  color: #6a7077;
}

div.nombre-input-input{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

div.nombre-input{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 40%;
}

div.icon-sobre-me{
  display: flex;
  flex-flow: row;
  padding-right: 20px;
  padding-top: 40px;
  font-size: 30px;
  height: 100%;
  justify-content: center;
  color: #6a7077;
}

div.sobre-me-input-input{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

div.sobre-me-input{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 40%;
}

div.icon-estadoP{
  display: flex;
  flex-flow: row;
  padding-right: 20px;
  padding-top: 40px;
  font-size: 30px;
  height: 100%;
  justify-content: center;
  color: #6a7077;
}

div.estado-input-input{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

div.estado-input{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 40%;
}

div.SliderYtitle1{

   display: flex;
   flex-flow: column;
   width: 80%;
   height: 100%;

}

div.SliderYtitle2{

   display: flex;
   flex-flow: column;
   width: 80%;
   height: 100%;

}

div.icon-info2{
  color: #6a7077;
  font-size: 30px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 20%;
  padding-left: 60px;
  padding-right: 80px;
  padding-top: 50px;
}

div.check{
  color: #6a7077;
  font-size: 30px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 20%;
  padding-left: 60px;
  padding-right: 80px;
  padding-top: 50px;

}

div.icon-check{

color: #6a7077;
font-size: 35px;
display: flex;
flex-flow: row;
justify-content: center;
width: 20%;
padding-left: 60px;
padding-right: 80px;
padding-top: 50px;
}

div.input1{
  width: 50%;
}

div.input2{
  width: 50%;
}

div.configura-jSlider1{
background-color: #f3f4f8;
padding-bottom: 50px;

}

div.configura-jSlider2{
background-color: #ffffff;
padding-bottom: 50px;
}

div.configura-checkBox{
  background-color: #f3f4f8;
}

div.foto-perfil{

    width: 100%;
    height: 34%;
    left: 0px;
    z-index: 96;
    background-image: url(../recursos/imagenes/efecto-blur1.jpg);
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    overflow: hidden;




}


div.contenido-perfil{

  width: 100%;
  justify-content: center;
  text-align: center;
}

div.contenidos-input{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}









div#infometo{
  background-color: #2980b9;
}
div.bloque h1:hover{
  color: white;
  transition: 0.5s ease;
  font-size: 100px;
}
div#albumto{
  background-color: #222c34;
}
div#liketo{
  background-color: #222c34;
}

.convoyer{
  display: flex;
  flex-flow: row nowrap;
}

.elements{
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
}
.element{
  margin: 0 5px;
}
.element img{

  width: 970px;
  height: 900px;

}


/**/

div.cargaFoto{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 800px;
  /*background-color: rgba(0,0,0,0.2);*/
  position: fixed;
  top: 1800px;
  left:0px;
  z-index: 99;
}

div.cargaFoto form{
  padding-top: 70px;
  padding-left: 60px;
  width: 120%;
  font-size: 50px;
}

div.cargaFoto p{
  font-family: 'title';
  color: #2980b9;
  font-size: 40px;
}

div.nombre-input-input{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

div.foto-input{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 40%;
}

.hablame{
  position: absolute;
  width: 500px;
  height: 300px;
  top: 10;
z-index: 99;
font-size: 50px;
background-color: red;
}

div.contenido-checks{
  padding-top: 20px;
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 100%;
}

.hablame{  /*aqui se modifico*/
  position: absolute;
  width: 394px;
  height: 150px;
  top: 75%;
  z-index: 99;
  left: 97px;
  font-size: 50px;
  background-color:  #3498db;
  border-style: none;
  border-radius: 0 0 0 20px;


}
.hablame input #myProfile{
  color: #ffff;
  font-family: 'text';
}
.siso input #myProfil{
  color: #ffff;
  font-family: 'text';
}

.siso{  /*aqui se modifico*/
  position: absolute;
  width: 394px;
  height: 150px;
  top: 75%;
  z-index: 99;
  right: 97px;
  font-size: 50px;
  background-color: #9b59b6;
  border-style: none;
  border-radius: 0 0 20px 0;

}
