
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-cora:before { content: '\e801'; } /* '' */
.icon-info-outline:before { content: '\e802'; } /* '' */
.icon-camera-outline:before { content: '\e803'; } /* '' */
.icon-compass:before { content: '\e804'; } /* '' */
.icon-picture:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-user-add:before { content: '\e809'; } /* '' */
.icon-at:before { content: '\e80a'; } /* '' */
.icon-key:before { content: '\e80b'; } /* '' */
.icon-lock:before { content: '\e80c'; } /* '' */
.icon-chat-alt:before { content: '\e80d'; } /* '' */
.icon-cc-by:before { content: '\e80e'; } /* '' */
.icon-gauge:before { content: '\e80f'; } /* '' */
.icon-cancel-outline:before { content: '\e810'; } /* '' */
.icon-cancel-1:before { content: '\e811'; } /* '' */
.icon-users:before { content: '\e812'; } /* '' */
.icon-users-outline:before { content: '\e813'; } /* '' */
.icon-chat:before { content: '\f0e6'; } /* '' */
.icon-distancia:before { content: '\f11d'; } /* '' */
.icon-transgender:before { content: '\f224'; } /* '' */
.icon-estado:before { content: '\f2bc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-me:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */